<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='abt.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="/static/images/pp2.jpg" alt="Profile Image" class="profile-image">
        </div>
        <div class="content1">
            <h2>R.GUHAN</h2>

            <h3>city:<span>thanjavur</span></h3>
    <p>I'm a passionate traveler who loves to explore new places and cultures. Traveling is not just a hobby; it's a way of life for me. I believe that the world is a book, and those who don't travel read only one page.</p>

    <h3>Favorite Destinations</h3>
    <p>Some of my favorite travel destinations include:</p>
    <ul>
        <li>Paris, France - The city of love and romance.</li>
        <li>Kyoto, Japan - A blend of tradition and modernity.</li>
        <li>Machu Picchu, Peru - The ancient Incan citadel in the Andes.</li>
        <li>Santorini, Greece - Beautiful sunsets and stunning views.</li>
        <li>Bora Bora, French Polynesia - A tropical paradise.</li>
    </ul>
        </div>

    </div>
    <div class="social-icons">
            <a href="https://www.instagram.com/" target="_blank"><img src="/static/images/picture4.png" alt="facebook"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/static/images/picture2.png" alt="facebook"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/static/images/picture1.png" alt="facebook"></a>
        </div>
 </body>
</html>
