<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='inf.css') }}">
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to our website.</p>

        <h2>Contact Information</h2>
        <p>Email: guruguhan@gmail.com</p>
        <p>Phone: (123) 456-7890</p>

        <h2>Our Team moto</h2>
        <h3>"collect moments not things"</h3>

    </div>
</body>
</html>
