<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mem.css') }}">
    <title>Travel Memories</title>
</head>
<body>
    <header>
        <h1>Travel Memories</h1>
    </header>

    <div class="container">
        <div class="left">
            <img src="/static/images/b3.jpg" alt="My Trip to Paris" height="180" width="180">
            <a href="{{ url_for('recent') }}">NEXT</a>
            <div class="ti">
                <h2>My Trip to Paris</h2>
                <p>"I recently had the incredible opportunity to explore the enchanting island of Paris, a destination that truly captures the essence of natural beauty and cultural richness. Nestled in the heart of Indonesia, Bali is renowned for its lush landscapes, pristine beaches, and vibrant traditions that make it a traveler's paradise..</p>
            </div>
        </div>
    </div>

</body>
</html>