<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='su.css') }}">

</head>
<body>
<div class="iv">
    <h1>REGISTRATION SUCCESSFUL!!!!!</h1>
</div>

<div class="sty">
    <img src="/static/images/f4.jpeg" width="auto" height="auto">
</div>

<div class="navi">
    <a href="{{ url_for('login') }}" class="btn">LOGIN</a>
</div>




</body>
</html>
